@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* body {
  font-family: 'Oswald', sans-serif;
} */

@layer  base {
  html {
    font-family: 'Oswald', sans-serif;
  }
}

::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(30 41 59 / var(--tw-bg-opacity));
  border-radius: 5px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer components {
  .ownmessagebox {
    @apply flex justify-end  mb-1
  }
  .ownmessageboxchat {
    @apply text-slate-100 flex flex-col justify-end  rounded-l-3xl rounded-t-3xl  px-4 py-2 bg-red-600  font-medium  md:text-lg text-sm max-w-80 w-fit
  }
  .ownmessageboxdate {
    @apply flex justify-end    
  }
  .elsemessagebox {
    @apply flex justify-start mb-1 gap-x-2
  }
  .elsemessageboxchat {
    @apply rounded-r-3xl rounded-t-3xl  px-4 py-2 bg-slate-300 dark:bg-white text-slate-800 font-medium text-sm md:text-lg max-w-80 w-fit
  }
  .elsemessageboxdate {
  @apply flex justify-start     
  }
}

.slide-left {
  animation: slideLeft  0.5s ease-in-out;
}

.slide-right {
  animation: slideRight 0.5s ease-in-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10%);
  }
}
