@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(30 41 59 / var(--tw-bg-opacity));
  border-radius: 5px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer components {
  .ownmessagebox {
    @apply flex justify-end  mb-1
  }
  .ownmessageboxchat {
    @apply text-slate-100  rounded-l-3xl rounded-t-3xl  px-4 py-2 bg-red-600  font-medium text-lg max-w-80 w-fit
  }
  .ownmessageboxdate {
    @apply flex justify-end    
  }
  .elsemessagebox {
    @apply flex justify-start mb-1 gap-x-2
  }
  .elsemessageboxchat {
    @apply rounded-r-3xl rounded-t-3xl  px-4 py-2 bg-slate-300 text-slate-800 font-medium text-lg max-w-80 w-fit
  }
  .elsemessageboxdate {
  @apply flex justify-start     
  }
}